<a href="https://colab.research.google.com/github/akachi-96/First_work_Aka/blob/main/WA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/zekuva/Udacity-datasets/main/world_alcohol.csv')

In [4]:
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [5]:
df['Display Value']

0     0.00
1     0.50
2     1.62
3     4.27
4     1.98
      ...
95    0.00
96    7.38
97    0.00
98    0.00
99    0.00
Name: Display Value, Length: 100, dtype: float64

In [9]:
ar_d = np.array(df['Display Value'])

In [11]:
ar_d.size

100

In [13]:
df.shape
df.size

500

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            100 non-null    int64
 1   WHO region      100 non-null    object
 2   Country         100 non-null    object
 3   Beverage Types  100 non-null    object
 4   Display Value   95 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

In [16]:
ar_e = np.array(df['Country'])

ar_e

array(['Viet Nam', 'Uruguay', "Cte d'Ivoire", 'Colombia',
       'Saint Kitts and Nevis', 'Guatemala', 'Mauritius', 'Angola',
       'Antigua and Barbuda', 'Nigeria', 'Botswana', 'Guatemala',
       "Lao People's Democratic Republic", 'Afghanistan', 'Viet Nam',
       'Guinea-Bissau', 'Costa Rica', 'Seychelles', 'Norway', 'Kenya',
       'Myanmar', 'Costa Rica', 'Romania', 'Turkey', 'Comoros', 'Tunisia',
       'United Kingdom of Great Britain and Northern Ireland', 'Bahrain',
       'Viet Nam', 'Italy', 'Sierra Leone',
       'Micronesia (Federated States of)', 'Mauritius', 'Mauritania',
       'Russian Federation', 'Saint Kitts and Nevis', 'Egypt', 'Sweden',
       'Qatar', 'Burkina Faso', 'Austria', 'Czech Republic', 'Ukraine',
       'China', 'Lithuania', 'Zimbabwe', 'Trinidad and Tobago', 'Mexico',
       'Nicaragua', 'Malta', 'Switzerland', 'Finland', 'Saudi Arabia',
       'Kuwait', 'El Salvador', 'Suriname', 'Viet Nam', 'Croatia',
       'Somalia', 'Syrian Arab Republic', 'Iran (Islamic Republic of)',
       'Papua New Guinea', 'Suriname', 'Libya',
       'Bolivia (Plurinational State of)', 'Somalia', 'Iraq', 'Namibia',
       'Uganda', 'Togo', 'Madagascar', 'Mali', 'Mauritania', 'Pakistan',
       'Bolivia (Plurinational State of)', 'Afghanistan', 'Comoros',
       'Cameroon', 'Jamaica', 'Finland', 'Malawi', 'Netherlands',
       'Ireland', 'Ukraine', 'Sri Lanka',
       'Democratic Republic of the Congo', 'Bahamas', 'Iraq', 'Lebanon',
       'Lebanon', 'Malawi', 'Bulgaria', 'Eritrea', 'Madagascar',
       'Ukraine', 'Niger', 'Luxembourg', 'Indonesia', 'Equatorial Guinea',
       "Democratic People's Republic of Korea"], dtype=object)

In [17]:
np.array(['df'])

array(['df'], dtype='<U2')

In [19]:
tt = np.array(df)

print(tt)

[[1986 'Western Pacific' 'Viet Nam' 'Wine' 0.0]
 [1986 'Americas' 'Uruguay' 'Other' 0.5]
 [1985 'Africa' "Cte d'Ivoire" 'Wine' 1.62]
 [1986 'Americas' 'Colombia' 'Beer' 4.27]
 [1987 'Americas' 'Saint Kitts and Nevis' 'Beer' 1.98]
 [1987 'Americas' 'Guatemala' 'Other' 0.0]
 [1987 'Africa' 'Mauritius' 'Wine' 0.13]
 [1985 'Africa' 'Angola' 'Spirits' 0.39]
 [1986 'Americas' 'Antigua and Barbuda' 'Spirits' 1.55]
 [1984 'Africa' 'Nigeria' 'Other' 6.1]
 [1987 'Africa' 'Botswana' 'Wine' 0.2]
 [1989 'Americas' 'Guatemala' 'Beer' 0.62]
 [1985 'Western Pacific' "Lao People's Democratic Republic" 'Beer' 0.0]
 [1984 'Eastern Mediterranean' 'Afghanistan' 'Other' 0.0]
 [1985 'Western Pacific' 'Viet Nam' 'Spirits' 0.05]
 [1987 'Africa' 'Guinea-Bissau' 'Wine' 0.07]
 [1984 'Americas' 'Costa Rica' 'Wine' 0.06]
 [1989 'Africa' 'Seychelles' 'Beer' 2.23]
 [1984 'Europe' 'Norway' 'Spirits' 1.62]
 [1984 'Africa' 'Kenya' 'Beer' 1.08]
 [1986 'South-East Asia' 'Myanmar' 'Wine' 0.0]
 [1989 'Americas' 'Costa Rica' 'Spirits' 4.51]
 [1984 'Europe' 'Romania' 'Spirits' 2.67]
 [1984 'Europe' 'Turkey' 'Beer' 0.44]
 [1985 'Africa' 'Comoros' 'Other' nan]
 [1984 'Eastern Mediterranean' 'Tunisia' 'Other' 0.0]
 [1985 'Europe' 'United Kingdom of Great Britain and Northern Ireland'
  'Wine' 1.36]
 [1984 'Eastern Mediterranean' 'Bahrain' 'Beer' 2.22]
 [1987 'Western Pacific' 'Viet Nam' 'Beer' 0.11]
 [1986 'Europe' 'Italy' 'Other' nan]
 [1986 'Africa' 'Sierra Leone' 'Other' 4.48]
 [1986 'Western Pacific' 'Micronesia (Federated States of)' 'Wine' 0.0]
 [1989 'Africa' 'Mauritius' 'Beer' 1.6]
 [1985 'Africa' 'Mauritania' 'Other' 0.0]
 [1986 'Europe' 'Russian Federation' 'Wine' 0.8]
 [1985 'Americas' 'Saint Kitts and Nevis' 'Spirits' 2.24]
 [1987 'Eastern Mediterranean' 'Egypt' 'Beer' 0.07]
 [1986 'Europe' 'Sweden' 'Beer' 3.04]
 [1987 'Eastern Mediterranean' 'Qatar' 'Other' 0.0]
 [1987 'Africa' 'Burkina Faso' 'Spirits' 0.01]
 [1987 'Europe' 'Austria' 'Spirits' 1.9]
 [1986 'Europe' 'Czech Republic' 'Beer' 6.82]
 [1984 'Europe' 'Ukraine' 'Spirits' 3.06]
 [1984 'Western Pacific' 'China' 'Wine' 0.03]
 [1985 'Europe' 'Lithuania' 'Other' nan]
 [1989 'Africa' 'Zimbabwe' 'Beer' 0.19]
 [1987 'Americas' 'Trinidad and Tobago' 'Spirits' 2.26]
 [1986 'Americas' 'Mexico' 'Other' 0.04]
 [1987 'Americas' 'Nicaragua' 'Beer' 0.7]
 [1986 'Europe' 'Malta' 'Wine' 1.49]
 [1985 'Europe' 'Switzerland' 'Other' 0.3]
 [1987 'Europe' 'Finland' 'Beer' 3.88]
 [1986 'Eastern Mediterranean' 'Saudi Arabia' 'Wine' 0.0]
 [1984 'Eastern Mediterranean' 'Kuwait' 'Beer' 0.0]
 [1984 'Americas' 'El Salvador' 'Spirits' 1.81]
 [1989 'Americas' 'Suriname' 'Wine' 0.04]
 [1987 'Western Pacific' 'Viet Nam' 'Wine' 0.0]
 [1989 'Europe' 'Croatia' 'Wine' 5.1]
 [1984 'Eastern Mediterranean' 'Somalia' 'Spirits' 0.0]
 [1989 'Eastern Mediterranean' 'Syrian Arab Republic' 'Other' 0.0]
 [1987 'Eastern Mediterranean' 'Iran (Islamic Republic of)' 'Other' 0.0]
 [1984 'Western Pacific' 'Papua New Guinea' 'Spirits' 0.08]
 [1987 'Americas' 'Suriname' 'Other' 0.0]
 [1985 'Eastern Mediterranean' 'Libya' 'Other' 0.0]
 [1989 'Americas' 'Bolivia (Plurinational State of)' 'Beer' 1.26]
 [1989 'Eastern Mediterranean' 'Somalia' 'Beer' 0.0]
 [1987 'Eastern Mediterranean' 'Iraq' 'Wine' 0.01]
 [1989 'Africa' 'Namibia' 'Beer' 0.0]
 [1989 'Africa' 'Uganda' 'Beer' 0.12]
 [1986 'Africa' 'Togo' 'Spirits' 0.42]
 [1986 'Africa' 'Madagascar' 'Spirits' 1.02]
 [1985 'Africa' 'Mali' 'Other' 0.57]
 [1987 'Africa' 'Mauritania' 'Other' 0.0]
 [1986 'Eastern Mediterranean' 'Pakistan' 'Other' 0.01]
 [1986 'Americas' 'Bolivia (Plurinational State of)' 'Spirits' 2.06]
 [1989 'Eastern Mediterranean' 'Afghanistan' 'Other' 0.0]
 [1985 'Africa' 'Comoros' 'Beer' 0.02]
 [1985 'Africa' 'Cameroon' 'Spirits' 0.01]
 [1989 'Americas' 'Jamaica' 'Other' 0.0]
 [1989 'Europe' 'Finland' 'Other' 2.09]
 [1985 'Africa' 'Malawi' 'Other' 0.84]
 [1985 'Europe' 'Netherlands' 'Wine' 2.54]
 [1987 'Europe' 'Ireland' 'Spirits' 2.25]
 [1986 'Europe' 'Ukraine' 'Other' nan]
 [1986 'South-East Asia' 'Sri Lanka' 'Other' 0.0]
 [1985 'Africa' 'Democratic Republic of the Congo' 'Wine' 0.01]
 [1986 'Americas' 'Bahamas' 'Wine' 1.83]
 [1989 'Eastern Mediterranean' 'Iraq' 'Wine' 0.01]
 [1987 'Eastern Mediterranean' 'Lebanon' 'Beer' 0.42]
 [1986 'Eastern Mediterranean' 'Lebanon' 'Wine' 0.7]
 [1989 'Africa' 'Malawi' 'Wine' 0.01]
 [1989 'Europe' 'Bulgaria' 'Beer' 4.43]
 [1986 'Africa' 'Eritrea' 'Spirits' 0.0]
 [1987 'Africa' 'Madagascar' 'Other' nan]
 [1985 'Europe' 'Ukraine' 'Spirits' 3.06]
 [1984 'Africa' 'Niger' 'Other' 0.0]
 [1985 'Europe' 'Luxembourg' 'Wine' 7.38]
 [1984 'South-East Asia' 'Indonesia' 'Wine' 0.0]
 [1984 'Africa' 'Equatorial Guinea' 'Wine' 0.0]
 [1985 'South-East Asia' "Democratic People's Republic of Korea" 'Wine'
  0.0]]

In [21]:
tt.size
tt.shape

(100, 5)